<br>
<br>
<div class="container">
    <div>
        <h1><u><b>Proyectos</b></u></h1>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <a href="https://github.com/williamsCTR/Calculadora-Simple" target="_blank" rel="noopener noreferrer"><h2>Calculadora</h2></a>
            <p> Este proyecto se trata de una pequeña calculadora la
                cual cuenta con todas las características básicas (Sumar,
                Restar, Multiplicar y dividir). El proyecto fue realizado con
                HTML, CSS y JS. Año de creacion. 2.022.
            </p>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <a href="https://github.com/williamsCTR/web-clima" target="_blank" rel="noopener noreferrer"><h2>Web Clima</h2></a>
            <p>Este pequeño proyecto nos permite ver el estado actual
                del clima utilizando la ubicación del browser. El proyecto
                fue realizado con HTML, CSS y JS. Año de creacion 2.022.
            </p>
        </div>
    </div>
</div>
<br>
<br>