<div class="container">
    <div class="row container__hijo">
        <div class="cotainer__foto col-xl-4 col-lg-4 col-md-12 col-sm-12">
            <img src="../../../assets/img/foto1.png" alt="Williams Cantero" class="img-fluid col-md-12 col-sm-12">
        </div>
        <div class="container__discripcion col-xl-8 col-lg-8 col-md-12 col-sm-12">
            <div class="container__descripcion--center">
                <h1 class="container__discripcion--h1" id="nombre">{{persona.nombre}} {{persona.apellido}}</h1>
                <h2 class="container__discripcion--h2">Full Stack Developer Jr</h2>
                <p class="container__discripcion--p">Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Iure nemo incidunt, quod tempore dolorum blanditiis nisi
                    dolores vitae ametasperiores quisquam tempora illo ullam dolorem mollitia
                    quis assumenda.Sint, ratione.
                </p>
             </div>
        </div>
    </div>
</div>
<br>
<br>
<hr>


