.container__hijo{
    margin: 3em 0 0 0;
}

.img-fluid{
    border-radius: 20em;
}

.container__discripcion{
    align-self: center;
    text-align: center;
}

.container__discripcion--h1{
    font-size: 4em;
    margin: 0;
    padding: 0;
}

.container__discripcion--h2{
    font-size: 3em;
    margin: 0;
    padding: 0;
}

.container__discripcion--p{
    padding: 1em 0 0 0;
    font-size: 2em;
    text-align: justify;
}

@media screen and (max-width: 988px) {
    
    .container__discripcion--h1{
        padding: 1em 0 0 0;
    }
    
}